/* background colors */

$bg_color_1: hsl(293, 100%, 63%);
$bg_color_2: hsl(264, 100%, 61%);

/* text color */ 

$sub-heading: hsl(276, 100%, 81%);
$chat_left: hsl(276, 55%, 52%);
$chat_left_bg: hsl(272, 41%, 93%);
$chat_right: hsl(271, 15%, 43%);
$placeholder_text: hsl(206, 6%, 79%);
$main_heading: hsl(271, 36%, 24%);
$paragraph: hsl(270, 7%, 64%);

/* inside app colors */

$white: hsl(0, 0%, 100%);
$app_bg: hsl(270, 20%, 96%);
$submit_button_background: hsl(271, 36%, 24%);
$radio_button_outline: hsl(289, 100%, 72%);
